<div id="add_function">
<form action="/function" method="post">
  <div class="row">
        <div class="five columns offset-by-one">
        </br>
      <h2>Add Function</h2>
    </div>
  </div>
  <div class="row">
    <div class="seven columns offset-by-one">
      <label for="functionName">Function name</label>
      <input class="u-full-width" type="text" placeholder="functionName" name="function_name" id="functionName">
    </div>
  </div>
  </br>
  <div class="row">
    <div class="ten columns  offset-by-one">
      <label for="functionName">Code</label>
      <input  type="textarea" class="u-full-width" placeholder="function e(num){return num*num;}  e(11);" name="function_code" id="functionCode"></input>
  </div>
  </div>
  <div class="row">
    <div class="six columns offset-by-six">
      <input class="button" type="submit" value="Cancel">
      <input class="button-primary" type="submit" value="Create">
    </div>
  </div>

</form>
</div>
