<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <link rel="stylesheet" type="text/css" href="/static/css/skeleton/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/static/css/skeleton/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600&effect=anaglyph' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <title>RBow - Collaborative task solver</title>
</head>
<body>
